/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    /* height: 100%;  */
    /* Ensure html and body take full viewport height */
    /* overflow: hidden;  */
    /* Prevent body scrollbar if rectangle content overflows slightly */
}

body {
    display: flex;
    justify-content: center;
     /* Center horizontally along the main axis */
    align-items: center; 
    /* Center vertically along the cross axis */
    background-color: #AAD7B8; /* Light gray background for the whole page */
    /* height: 100%; */
}



.center-container {
    display: flex; /* Also make this a flex container for the rectangle */
    justify-content: center;
    align-items: stretch; 
    /* Make the rectangle stretch vertically */
    width: 100%; /* Occupy full width of the body */
    height: 100%; /* Occupy full height of the body */
}

.mid-rectangle {
    width: 75%; /* Or any specific width like 800px, 50vw, etc. */
    height: 100%; /* Make it span from top to bottom of its container */
    background-color: #FFF6E4; /* Blue color for the rectangle */
    color: black; /* White text for contrast */
    /* padding: 20px; */
    box-sizing: border-box; 
    border-right: 3px solid #000000; /* Black border for the rectangle */
    border-left: 3px solid #000000;
    /* Include padding in the width calculation */
    /* text-align: center; */
    display: flex;
    /* Make rectangle content centered */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.sidetext-container {
    /* position: relative; */
    width: 100%; /* Adjust width as needed */
    height: 3.5vw; 
    background-color: #FFF6E4; /* Light gray background for the side text container */
    display: flex; /* Flexbox for layout */
    justify-content: flex-start; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    /* background-color: aquamarine; */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

    padding-top: 1vw;
    padding-left: 1vw;
    background-color: #553b06;
    /* margin: 10px; */
}

.portfolio-side-text {
    /* position: relative;
    left: 10px;
    top: 0px; */
    font-family: 'Danson', cursive;
    font-size: 2vw;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 1px;
    color: #000000;
    /* background-color: white; */
    /* display: flex; */
    /* justify-content: left;
    align-items: left; */
    /* width: 1046px; */
    /* height: 116px; */
}

.title-container {
    width: 90%; /* Full width of the body */
    height: 40%; /* Full height of the body */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    box-sizing: border-box;
    /* margin-top: 10vw; */
    background-color: azure;
    padding: 1.5vw;
}


.portfolio-main-text {
    /* position: absolute; */
    /* left: 202px;
    top: 243px; */
    font-family: 'Press Start 2P', cursive;
    /* font-size: 60px; */
    font-weight: 400;
    /* line-height: 116px; */
    letter-spacing: 1px;
    color: #000000;
    /* width: 1046px; */
    /* height: 116px; */
    /* display: flex; */
    justify-content: center;
    margin: 1vw;
}

.site-divider {
    width: 200%; /* Ensures it spans the full width of its parent */
    height: 3px; /* The thickness of your line */
    background-color: #000000; /* The color of your line */
    /* margin: 30px 0;  */
    /* margin-bottom: 30px; */
    /* Add some vertical space */
}

.content-container {
    width: 90%; /* Full width of the body */
    height: 50%; /* Full height of the body */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; 
    /* Center children vertically */
    align-items: flex-start; 
    /* Center children horizontally */
    padding: 0%;
    background-color: red;
}

.id-container {
    width: 50%; /* Full width of the content container */
    height: 50%; /* Full height of the content container */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children horizontally */
    justify-content: flex-start; 
    /* Center children vertically */
    align-items: flex-start; 
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    /* Center children horizontally */
    background-color: #169e41;
}

.id-box {
    /* position: relative;
    top: 25px;
    left : 15px; */
    background-color: #F7C236;
    aspect-ratio: 625/330;
    width : 120%; /* Full width of the content container */
    /* height: 100%;  */
    display: flex; /* Flexbox for layout */
    flex-direction: row; /* Stack children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    border: 2.5px solid black; /* Black border for the box */
    box-shadow: 5px 5px 0px black; /* Subtle shadow for depth */
    padding: 1.5vw;
    box-sizing: border-box;
    
    /* padding-left: 15px */
}

.dp-container {
    /* position: relative;
    top: 12px;
    left: 7px; */
    width: 43%;
    /* height: 10vw;  */
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    border : 2.5px solid black; /* Black border for the box */
    /* margin : 10px; */;
}

.responsive-image {
    max-width: 100%; /* Image will not exceed the width of its parent */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Optional: removes extra space below image if it's inline */
}

.idtext-container {

    width: 63%; /* Full width of the content container */
    height: 100%; /* Full height of the content container */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: flex-start; /* Center children horizontally */
    font-family: 'VT323', monospace;
    font-weight: 100;
    /* padding-top: -100px; */
    /* background-color: antiquewhite; */
    margin-left: 1.3vw;
    box-sizing: border-box;
}

.id-black-box{
    padding-left: 0.5vw;
    padding-top: 0.3vw;
    box-sizing: border-box ;
    margin-top: -2.5vw;
    margin-bottom: 1.8vw;
    width : 13vw;
    height : 2vw;
    background-color: black;
    color: #F7C236;
}

.actions-container{
    width : 40%; /* Full width of the content container */
    height: 60%;
    background-color: #fffffe;
}

.skills-container {
    width: 100%; /* Full width of the content container */
    /* height: 50%;  */
    /* Full height of the content container */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: flex-start; /* Center children horizontally */
    box-sizing: border-box;
    aspect-ratio: 540/250;
    border: 2.5px solid black; /* Black border for the box */
    box-shadow: 5px 5px 0px black; /* Subtle shadow for depth */
    /* margin: 2vw; */
    margin-top: 1.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    /* padding-top: -50px; */
    padding-bottom: 20px;
    margin-bottom: 10vw;
    background-color: #FDC6FF;
    font-family: 'VT323', monospace;
}

.apps-container {
    width: 100%; /* Full width of the content container */
    height: 80%; /* Full height of the content container */
    display: flex; /* Flexbox for layout */
    flex-direction: row; /* Stack children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    box-sizing: border-box; 
    /* background-color: #58005b; */
    font-family: 'VT323', monospace;
}

.app-box {
    width: 20%; /* Full width of the content container */
    height: 100%; /* Full height of the content container */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    box-sizing: border-box;
    /* padding: 1vw; */
    /* margin-bottom: 1vw; */
}