html{
    background-color: #F7C236;
    padding-left: 5vw;
    padding-right: 5vw;
    margin:0;
}


body{
    margin:0px;
    /* height: 100%; */
    background-color: #F7C236;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.main-content-box{
    margin:0px;
    /* height: 100%; */
    width: 100%;
    background-color: #F7C236;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.content-box2{
    margin:4px;
    /* height: 100%; */
    width: 100%;
    background-color: #F7C236;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;

}

.pic-box{
    width: 37%;
    /* height: 10vw;  */
    margin-top: 4vw;
    display: flex; /* Flexbox for layout */
    justify-content: center;
    align-items: center;
    border : 2.5px solid black; /* Black border for the box */
    /* margin : 10px; */;
}

.responsive-image {
    max-width: 100%; /* Image will not exceed the width of its parent */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Optional: removes extra space below image if it's inline */
}

.black-box{
    width: 150%;
    height: 10vw;
    margin: 0vw;
    color: #F7C236;
    display: flex; /* Flexbox for layout */
    justify-content: center;
    align-items: center;
    background-color: #231C00; /* Black background for the box */
    color: white; /* White text color */
    font-size: 1.5vw; /* Responsive font size */
    /* margin: 1vw; */
}
.text{
    font-family: 'VT323',cursive;
}